{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cljfx/cljfx {:mvn/version "1.7.23"}}
 :paths ["src" "dev-resources"]

 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.84.1335"}}
   :main-opts ["-m" "kaocha.runner"]}}}
